<% provide :title, t("courses.course") %>
<%= render "overview" %>


<div style="width: 1000px; height: 500px">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Example -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-2099318549528426"
       data-ad-slot="3657805194"
       data-ad-format="auto"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
